{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block body %}
    {% if sent %}
        <section class="blog_area single-post-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                             <div class="col-lg-9 col-md-9 blog_details text-center ">
                            <h1>ایمیل شما با موفقیت ارسال شد</h1>
                            <p>
                                پست {{ post.title }} با موفقیت به {{ form.cleaned_data.to }} ارسال شد
                            </p>
                                 <a class="button " href="{{ post.get_absolute_url }}">برگشت به صفحه قبل
                                 </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <h1>اشتراک گذاری "{{ post.title }}" با ایمیل </h1>
        <form class="comment-form" method="post">
        <div class="form-group ">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="button btn-primary" type="submit" value="ارسال ایمیل ">
            </div>
        </form>
    {% endif %}
{% endblock %}